<h2>Input with unidirectional property and event binding</h2>
<div>
  <p>{{ firstInputText }}</p>
  <input type="text" [value]="firstInputText" (input)="changeInputText($event.target.value)">
</div>

<h2>Button with click event</h2>
<div>
  <h4>The count is {{ count }}</h4>
  <button type="button" (click)="addOne()" >Add one to count</button>
</div>